{% extends 'layout.html.twig' %}

{% block steelsheets %}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block carousel %}{% endblock %}


{% block body %}
    <h1 class="text-center my-4">Séances disponibles</h1>
{% for calendar in calendars %}
    {% if calendar.user is empty %}
    <div class="card bg-dark text-warning">
   <p> {{ calendar.start|format_datetime('full', 'full', locale='fr') }}</p>
        <p>{{ calendar.description ?? ''}}</p>
        <p>{{ calendar.start|format_datetime('full', 'full', locale='fr') }} à {{ calendar.end|date('H:i') }}</p>
        <a href="{{ path('calendar_complet_user', { 'id' : calendar.id }) }}">À réserver</a>
    </div>
        {% if app.user.id == calendar.user %}
            <h2 class="text-center my-4"> Mes séances réservées</h2>
            <div class="card bg-light text-dark">
                <p> {{ calendar.start|format_datetime('full', 'full', locale='fr') }}</p>
                <p>{{ calendar.description ?? ''}}</p>
                <p>{{ calendar.start|date('H:i') }} à {{ calendar.end|date('H:i') }}</p>
                <a href="{{ path('calendar_remove_user', { 'id' : calendar.id }) }}">Annuler</a>
            </div>
        {% endif %}
    {% endif %}
    {% endfor %}

    {% include 'profile/show.html.twig' %}
{% endblock %}
