{% extends 'layout.html.twig' %}

{% block steelsheets %}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block carousel %}{% endblock %}


{% block body %}
    <h1 class="text-center my-4">Séances disponibles</h1>
{% for calendar in calendars %}
    {% if calendar.user is empty %}
    <div class="card bg-dark text-warning">
   <p> {{ calendar.start|dateFr }}</p>
        <p>{{ calendar.description ?? ''}}</p>
        <p>{{ calendar.start|date('H:i') }} à {{ calendar.end|date('H:i') }}</p>
    </div>
    {% endif %}
    {% endfor %}

    {% include 'profile/show.html.twig' %}
{% endblock %}
