{% extends 'layout.html.twig' %}

{% block carousel %}{% endblock %}

{% block body %}

    <h1 class="text-center mt-4">Séances</h1>
    <div class="container-fluid">
        <div class="row justify-content-around">
            {% for calendar in calendars %}
                {% if calendar.user is empty %}
                    <div class="card m-4">
                        <div class="card-body bg-light text-center">
                            <h2 class="h4 card-title text-success">Disponibles</h2>
                            <p class="card-text h3">
                                {{ calendar.start|format_datetime('full', 'none' , locale='fr')  }}</p>
                            <p class="h4 mt-2">{{ calendar.start|date('H:i') }} à {{ calendar.end|date('H:i') }}</p>
                        </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-center">{{ calendar.description ?? ''}}</li>
                            </ul>
                        <div class="card-body text-center mt-2">
                            <a class="btn btn-success btn"  href="{{ path('profile_complet_user', { 'id' : calendar.id }) }}">Réserver</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row justify-content-around">
            {% for calendar in calendars %}
                {% if app.user.id == calendar.user %}
                    <div class="card m-4">
                        <div class="card-body bg-dark text-light text-center">
                            <h2 class="h4 card-title text-danger">Réserver</h2>
                            <p class="card-text h3">
                                {{ calendar.start|format_datetime('full', 'none' , locale='fr')  }}</p>
                            <p class="h4 mt-2">{{ calendar.start|date('H:i') }} à {{ calendar.end|date('H:i') }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center">{{ calendar.description ?? ''}}</li>
                        </ul>
                        <div class="card-body text-center mt-2">
                            <a class="btn btn-danger btn"
                               href="{{ path('profile_remove_user', { 'id' : calendar.id }) }}">Annuler</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% include 'profile/show.html.twig' %}
{% endblock %}
