{% block body %}
    <h1 class="text-center h2">Renseignement personnel</h1>
    <div class="container-fluid">
        <table class="table text-dark text-center">
            <thead class="thead-light">
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Age</th>
                    <th>Taille</th>
                    <th>Poids</th>
                    <th>IMC</th>
                    <th>Masse graisseuse</th>
                    <th>Masse hydrique</th>
                    <th>Masse musculaire</th>
                    <th>Tour de bras</th>
                    <th>Tour de taille</th>
                    <th>Tour de taille</th>
                    <th>Tour de cuisse</th>
                    <th>Test Ruffier Dickson</th>
                    <th>Pathologie</th>
                    <th>Traitement</th>
                    <th>Recommandation médicale</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ app.user.firstname }}</td>
                    <td>{{ app.user.lastname }}</td>
                    <td>{{ app.user.age }}</td>
                    <td>{{ app.user.size }}</td>
                    <td>{{ app.user.weight }}</td>
                    <td>{{ app.user.imc }}</td>
                    <td>{{ app.user.fatMass }}</td>
                    <td>{{ app.user.bodyWater }}</td>
                    <td>{{ app.user.muscleMass }}</td>
                    <td>{{ app.user.armCircumference }}</td>
                    <td>{{ app.user.waistSize }}</td>
                    <td>{{ app.user.thighCircumference }}</td>
                    <td>{{ app.user.ruffierDickstonTest }}</td>
                    <td>{{ app.user.three }}</td>
                    <td>{{ app.user.pathology }}</td>
                    <td>{{ app.user.treatment }}</td>
                    <td>{{ app.user.prescription }}</td>
                </tr>
            </tbody>
        </table>
        <div class="row justify-content-center mb-3">
            <a class="btn btn-primary" href="{{ path('profile_user_edit', { id: app.user.id }) }}">Modifier</a>
        </div>
        {% if is_granted("ROLE_COACH") %}
            <div class="row justify-content-center mb-3">
                <a class="btn btn-secondary" href="{{ path('customer_index') }}">Retour</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
