    <h1>Mon profil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ app.user.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ app.user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ app.user.lastname }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ app.user.age }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ app.user.size }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ app.user.weight }}</td>
            </tr>
            <tr>
                <th>IMC</th>
                <td>{{ app.user.imc }}</td>
            </tr>
            <tr>
                <th>Masse graisseuse</th>
                <td>{{ app.user.fatMass }}</td>
            </tr>
            <tr>
                <th>Masse hydrique</th>
                <td>{{ app.user.bodyWater }}</td>
            </tr>
            <tr>
                <th>Masse musculaire</th>
                <td>{{ app.user.muscleMass }}</td>
            </tr>
            <tr>
                <th>Tour de bras</th>
                <td>{{ app.user.armCircumference }}</td>
            </tr>
            <tr>
                <th>Tour de taille</th>
                <td>{{ app.user.waistSize }}</td>
            </tr>
            <tr>
                <th>Tour de cuisse</th>
                <td>{{ app.user.thighCircumference }}</td>
            </tr>
            <tr>
                <th>Test Ruffier Dickson</th>
                <td>{{ app.user.ruffierDickstonTest }}</td>
            </tr>
            <tr>
                <th>Equilibre</th>
                <td>{{ app.user.three }}</td>
            </tr>
            <tr>
                <th>Pathologie</th>
                <td>{{ app.user.pathology }}</td>
            </tr>
            <tr>
                <th>Traitement</th>
                <td>{{ app.user.treatment }}</td>
            </tr>
            <tr>
                <th>Recommandation médicale</th>
                <td>{{ app.user.prescription }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('home') }}">Retour à la page d'accueil</a>

    <a class="btn btn-secondary" href="{{ path('profile_user_edit', { id: app.user.id }) }}">Modifier</a>
