{% extends 'layout.html.twig' %}
{% block title %}Accueil{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('home') }}
    {% endblock %}
{% block body %}
    <section class="serviceSport">
        <h2 class="text-center">Nos services</h2>
        <div class="container-fluid ">
            <div class="row pb-5 d-flex justify-content-around">
                <div class="col-sm-6 col-md-6 col-lg-5 d-sm-block pt-4">
                    <a href="{{ path('activity_index') }}">
                        <div class="linkCategory card text-white bg-dark card-inverse">
                            <div class="card-img-overlay d-flex">
                                <h3 class="textCard card-title text-truncate align-self-center mx-auto">Activité adaptée</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-5 d-sm-block pt-4">
                    <a href="{{ path('fitness') }}">
                        <div class="linkCategory card text-white bg-dark card-inverse">
                            <div class="card-img-overlay d-flex">
                                <h3 class="textCard card-title text-truncate align-self-center mx-auto">Remise en forme</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="textIntro">
        <div class="container-fluid">
            <div class="row justify-content-around">
                <div class="col-lg-4 col-sm-2 d-flex align-self-center justify-content-center">
                    {% for picture in home %}
                    <img class="portrait text-center mt-4" src="{{ asset('uploads/home/' ~ picture.picture) }}" alt="Auto portrait"
                         title="Damien Gouveia">
                    {% endfor %}
                </div>
                <div class=" justify-content-center justify-content-center
                        col-lg-8 col-sm-6 d-flex align-items-center lead flex-column">
                    <h2 class="text-center">Présentation</h2>
                        <div class="homeTextPresentation ">
                            {% for text in home %}
                                <div class="homeText">{{ text.text| raw }}</div>
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    </section>

    <section class="homeContact">
        <h2 class="text-center">Contact</h2>
        <div class="container-fluid">
            <div class="row d-flex justify-content-around">
                <div class="col-sm-6 col-md-6 col-lg-5 text-center align-self-center">
                    <div class="imgSportContact card card-inverse">
                        <div class="card-img-overlay d-flex">
                            <p class="informationContact text-light align-self-end mx-auto">
                                Gouveia Damien <br>
                                06-15-26-37-67 <br>
                                Saint Jean le Blanc</p>
                        </div>
                        <img class="salleSportImage card-img mb-0"
                             src="{{ asset('build/images/salleSportContact.jpg') }}"
                             alt="Salle de sport">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-5 m-2 ">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="text-center">
                        <button class="btn btn-light mt-5">Envoyer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
