{% extends 'layout.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('home') }}
    {% endblock %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="containerOverlay">
        <div class="title">
            <h1>Damien Gouveia - Caoch Sportif</h1>
        </div>
    </div>

    <section class="textIntro">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-2 ">
                    <img class="portrait" src="{{ asset('build/images/DamienG.jpg') }}" alt="Auto portrait"
                         title="Damien Gouveia">
                </div>
                <div class="homeTextPresentation col-lg-6 align-items-center">
                    {% for text in home %}
                        <p class="homeText">{{ text.text }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="serviceSport">
            <h2>Nos services</h2>
                <div class="container-fluid ">
                    <div class="bikes row pb-5 d-flex justify-content-center">

                        <div class="col-sm-6 col-md-6 col-lg-5 d-sm-block">
                            <a href="#">
                                <div class="linkCategory card text-white card-inverse">
                                    <img src="{{ asset('build/images/sportAdapte.jpg') }}" class="fitness card-img" alt="">
                                    <div class="card-img-overlay d-flex">
                                        <h2 class="card-title text-truncate align-self-center mx-auto">Activité adaptée</h2>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-5 d-sm-block">
                            <a href="{{ path('fitness') }}">
                                <div class="linkCategory card text-white card-inverse">
                                    <img src="{{ asset('build/images/remiseEnForme.jpg') }}" class="fitness card-img" alt="">
                                    <div class="card-img-overlay d-flex">
                                        <h2 class="card-title text-truncate align-self-center mx-auto">Remise en forme</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
    </section>

{% endblock %}
