{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}

{% block title %}Enregistrer un nouveau compte{% endblock %}

{% block header %}{% include 'include/_navbar.html.twig' %}{% endblock %}

{% block body %}
    {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container">
        <h1 class="mt-5 mb-5 font-weight-normal text-center ">Enregistrer un nouveau compte</h1>
        {{ form_start(registrationForm) }}
        <div>
            {{ form_row(registrationForm.email) }}
        </div>
        <div class="mt-5">
            {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'}) }}
        </div>
        <div class="mt-3">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
        <div class="text-center mt-5">
            <button class="btn btn-secondary btn" type="submit">Créer le compte</button>
        </div>
        {{ form_end(registrationForm) }}
        <div class="text-center mt-3 mb-5">
            <a class="btn btn-primary" href="{{ path('app_login') }}">Retour à la page de connexion</a>
        </div>
    </div>
{% endblock %}

{% block footer %}{% include 'include/_footer.html.twig' %}{% endblock %}
