{% extends 'layout_admin.html.twig' %}
{% block title %}Administration|Carousel{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Administration du Carrousel</h1>
            <table class="table text-dark text-center">
                <thead class="thead-light">
                    <tr>
                        <th>Nom de l'image</th>
                        <th>Localisation de la page</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for carousel in carousels %}
                        <tr>
                            <td>{{ carousel.path }}</td>
                            <td>{{ carousel.page }}</td>
                            <td>
                                <a class="btn btn-primary btn"
                                   href="{{ path('carousel_show', {'id': carousel.id}) }}">Voir</a>
                                <a class="btn btn-primary btn"
                                   href="{{ path('carousel_edit', {'id': carousel.id}) }}">Modifier</a>
                                {{ include('carousel/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Il n'y a pas de donnée</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <div class="text-center">
        <a class="btn btn-secondary btn mb-5" href="{{ path('carousel_new') }}">Ajouter une nouvelle image</a>
    </div>
{% endblock %}
