{% extends 'layout_admin.html.twig' %}

{% block title %}Administration|Carrousel{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-4">Administration du Carrousel</h1>
            <table class="table text-dark text-center">
                <thead class="thead-light">
                    <tr>
                        <th>Nom de l'image</th>
                        <th>Localisation de la page</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ carousel.path }}</td>
                        <td>{{ carousel.page }}</td>
                        <td>
                            <div class="row justify-content-center">
                                <a class="btn btn-primary btn mx-2 mt-2"
                                   href="{{ path('carousel_edit', {'id': carousel.id}) }}">Modifier</a>
                                {{ include('carousel/_delete_form.html.twig') }}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
        <div class="text-center">
            <a class="btn btn-secondary btn" href="{{ path('carousel_index') }}">Retour</a>
        </div>
{% endblock %}
