{% extends 'layout_admin.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('indexAdmin') }}
    {% endblock %}
{% block title %} Liste des tarifs {% endblock %}

{% block body %}
    <h1 class="title text-center mt-4">Liste des tarifs</h1>

        <div class="container">
            <a class="btn btn-success mb-2" href="{{ path('tarif_new') }}">Ajouter un nouveau tarif</a>
            <table class="table text-dark text-center">
                <thead class="thead-light">
                    <tr>
                        <th>Service</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tariff in tariffs %}
                        <tr>
                            <td>{{ tariff.title }}</td>
                            <td>{{ tariff.description }}</td>
                            <td>{{ tariff.price }}</td>
                            <td>
                                <a class="btn btn-primary mx-2 mb-sm-2 mb-2"
                                   href="{{ path('tarif_edit', { id: tariff.id}) }}">Modifier</a>
                                {{ include('admin/tarif/_delete_form.html.twig') }}
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    <div class="text-center">
        <a class="btn btn-secondary btn mt-2" href="{{ path('admin_index') }}">Retour</a>
    </div>
{% endblock %}
