{% extends 'layout_admin.html.twig' %}

{% block title %} Liste des tarifs {% endblock %}

{% block body %}
    <div class="container justify-content-center text-center">
        <h1 class="my-4">Liste des tarifs</h1>
        <table class="table text-dark text-center">
            <thead class="thead-light">
            <tr>
                <th scope="col">Service</th>
                <th scope="col">Prix</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for tarif in tarifs %}
                    <tr>
                        <td> {{ tarif.description }}</td>
                        <td>{{ tarif.price }}</td>
                        <td class="col-3 col-xs-" ><div class="row justify-content-center">
                                <a class="btn btn-secondary mx-2 mb-sm-2 mb-2" href="{{ path('tarif_edit', { id: tarif.id}) }}">Modifier</a>
                             {{ include('admin/tarif/_delete_form.html.twig') }}
                            </div>
                        </td>
                    </tr>
            {% endfor %}
            <tbody>
        </table>
        <a class="btn btn-primary" href="{{ path('tarif_new') }}">Ajouter un nouveau tarif</a>
    </div>
{% endblock %}
