{% extends 'layout_admin.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('indexAdmin') }}
{% endblock %}
{% block title %}Administration|Carousel{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Administration du Carrousel</h1>
        <div class="container">
            <a class="btn btn-success btn mb-2" href="{{ path('carousel_new') }}">Ajouter une nouvelle image</a>
            <table class="table table-responsive-lg text-dark">
                <thead class="thead-light text-center">
                    <tr>
                        <th>Nom de l'image</th>
                        <th>Localisation de la page</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for carousel in carousels %}
                        <tr>
                            <td>
                                <img class="idImage" src="{{ asset('uploads/path/' ~ carousel.path) }}"
                                     alt="{{ carousel.path }}" title="{{ carousel.path }}">
                            </td>
                            <td>{{ carousel.page }}</td>
                            <td>
                                <a class="col btn btn-primary mb-sm-2 mb-2 btn"
                                   href="{{ path('carousel_edit', {'id': carousel.id}) }}">Modifier</a>
                                {{ include('admin/carousel/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="text-danger" colspan="8">Aucun résultat trouvé</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <div class="text-center">
        <a class="btn btn-secondary btn mb-4" href="{{ path('admin_index') }}">Retour</a>
    </div>
{% endblock %}
