{% block stylesheets %}
    {{ encore_entry_link_tags('barNav') }}
{% endblock %}

{% block navBar %}

        <nav class="navbar navbar-expand-lg bg-info fixed-top">
            <div class="container-fluid ">
                <a class="navbar-brand img d-none d-lg-block text-light" href="{{ path('home') }}"><img class="logo mr-2"
                                                                             src="{{ asset('build/images/LOGO-Blanc.png') }}"
                                                                             alt="Logo"/>Damien Gouveia Coach Sportif</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end text-light" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown mx-3">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button"
                               data-toggle="dropdown" aria-expanded="false">
                                Les services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Activité adaptée</a></li>
                                <li><a class="dropdown-item" href="{{ path('fitness') }}">Remise en forme</a></li>
                                <li><a class="dropdown-item" href="{{ path('walking_index') }}">Marche nordique</a></li>
                                <li><a class="dropdown-item" href="#">Santé en entreprise</a></li>
                            </ul>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light" href="#">La salle d’entrainement</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light" href="{{ path('who') }}">Qui suis-je ?</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light" href="{{ path('tarifs_index') }}">Tarifs</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light" href="#">Média</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light" href="{{ path('contact_show') }}">Page contact</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light" href="#">Compte</a>
                        </li>
                     </ul>
              </div>
    </div>
</nav>
{% endblock %}
