{% extends 'layout_admin.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('indexAdmin') }}
    {% endblock %}
{% block title %}Vidéo|index{% endblock %}

{% block body %}
    <h1 class="title text-center mt-4">Vidéo</h1>
    <div class="container">
        <a class="btn btn-success btn mb-2" href="{{ path('media_new') }}">Ajouter une vidéo</a>
        <table class="table text-dark text-center">
            <thead class="thead-light text-center">
            <tr>
                <th>Lien You_tube</th>
                <th>Titre de la vidéo</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for medium in media %}
                <tr>
                    <td>
                        <iframe width="300px" height="200px" src="https://www.youtube.com/embed/{{ medium.idYoutube }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write;encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </td>
                    <td>{{ medium.title }}</td>
                    <td>
                        <a class="btn btn-primary mb-sm-2 mb-2 btn"
                           href="{{ path('media_edit', {'id': medium.id}) }}">Modifier</a>
                        {{ include('admin/media/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Il n'y a aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <a class="btn btn-secondary btn mb-4" href="{{ path('admin_index') }}">Retour</a>
        </div>
    </div>
{% endblock %}
