{% extends 'layout_admin.html.twig' %}

{% block title %}Administration{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('indexAdmin') }}
{% endblock %}
{% block body %}
<section>
    <h1 class="title text-center mt-4">Administration</h1>
        <div class="container-fluid text-center">
            <div class="row justify-content-around">

                <div class="card my-2 d-flex align-items-center">
                    <img class="icon card-img-top pt-3" src="{{ asset('build/images/logoAccueil.png') }}" alt="Logo administrateur">
                    <div class="card-body">
                        <h2 class="titreH2">Présentation accueil</h2>
                        <a href="{{ path('index_Admin') }}" class="btn btn-primary">Administrer</a>
                    </div>
                </div>

                <div class="card my-2 d-flex align-items-center">
                    <img class="icon card-img-top pt-3" src="{{ asset('build/images/carrouselAdmin.png') }}" alt="Logo administrateur">
                    <div class="card-body">
                        <h2 class="titreH2">Carrousel</h2>
                        <a href="{{ path('carousel_index') }}" class="btn btn-primary">Administrer</a>
                    </div>
                </div>

                <div class="card my-2 d-flex align-items-center">
                    <img class="icon card-img-top pt-3" src="{{ asset('build/images/sportAdapter.png') }}" alt="Logo administrateur">
                    <div class="card-body">
                        <h2 class="titreH2">Activité adaptée</h2>
                        <a href="{{ path('activity_admin') }}" class="btn btn-primary">Administrer</a>
                    </div>
                </div>

                <div class="card my-2 d-flex align-items-center">
                    <img class="icon card-img-top pt-3" src="{{ asset('build/images/logoFitness.png') }}" alt="Logo administrateur">
                    <div class="card-body">
                        <h2 class="titreH2">Remise en Forme</h2>
                        <a href="{{ path('fitness_admin') }}" class="btn btn-primary">Administrer</a>
                    </div>
                </div>

                <div class="card my-2 d-flex align-items-center">
                    <img class="icon card-img-top pt-3" src="{{ asset('build/images/marcheNordique.png') }}" alt="Logo administrateur">
                    <div class="card-body">
                        <h2 class="titreH2">Marche nordique</h2>
                        <a href="{{ path('walking_admin') }}" class="btn btn-primary">Administrer</a>
                    </div>
                </div>

                <div class="card my-2 d-flex align-items-center">
                    <img class="icon card-img-top pt-3" src="{{ asset('build/images/sportTravail.png') }}" alt="Logo administrateur">
                    <div class="card-body">
                        <h2 class="titreH2">Santé en entreprise</h2>
                        <a href="{{ path('company_admin') }}" class="btn btn-primary">Administrer</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-4 text-center">
            <div class="row justify-content-around">
                <div class="card my-2 d-flex align-items-center">
                    <img class="icon card-img-top pt-3" src="{{ asset('build/images/salleSport.png') }}" alt="Logo administrateur">
                    <div class="card-body">
                        <h2 class="titreH2">La salle</h2>
                        <a href="{{ path("gym_admin") }}" class="btn btn-primary">Administrer</a>
                    </div>
                </div>

                <div class="card my-2 d-flex align-items-center">
                    <img class="icon card-img-top pt-3" src="{{ asset('build/images/presentation.png') }}" alt="Logo administrateur">
                    <div class="card-body">
                        <h2 class="titreH2">Qui suis-je ?</h2>
                        <a href="{{ path('presentation_admin') }}" class="btn btn-primary">Administrer</a>
                    </div>
                </div>

                <div class="card my-2 d-flex align-items-center">
                    <img class="icon card-img-top pt-3" src="{{ asset('build/images/tariff.png') }}" alt="Logo administrateur">
                    <div class="card-body">
                        <h2 class="titreH2">Tarifs</h2>
                        <a href="{{ path('tarif_index') }}" class="btn btn-primary">Administrer</a>
                    </div>
                </div>

                <div class="card my-2 d-flex align-items-center">
                    <img class="icon card-img-top pt-3" src="{{ asset('build/images/media.png') }}" alt="Logo administrateur">
                    <div class="card-body">
                        <h2 class="titreH2">Média</h2>
                        <a href="{{ path('media_admin') }}" class="btn btn-primary">Administrer</a>
                    </div>
                </div>

                <div class="card my-2 d-flex align-items-center">
                    <img class="icon card-img-top pt-3" src="{{ asset('build/images/compteClient.png') }}" alt="Logo administrateur">
                    <div class="card-body">
                        <h2 class="titreH2">Comptes clients</h2>
                        <a href="{{ path('customer_index') }}" class="btn btn-primary">Administrer</a>
                    </div>
                </div>

                <div class="card my-2 d-flex align-items-center">
                    <img class="icon card-img-top pt-3" src="{{ asset('build/images/commentaire.png') }}" alt="Logo administrateur">
                    <div class="card-body">
                        <h2 class="titreH2">Commentaires clients</h2>
                        <a href="{{ path ('opinion_index') }}" class="btn btn-primary">Administrer</a>
                    </div>
                </div>
            </div>

            <div class="container-fluid p-4 text-center">
                <div class="row justify-content-around">
                    <div class="card my-2 d-flex align-items-center">
                        <img class="icon card-img-top pt-3" src="{{ asset('build/images/contact.png') }}" alt="Logo administrateur">
                        <div class="card-body">
                            <h2 class="titreH2">Contact</h2>
                            <a href="{{ path("contact_admin") }}" class="btn btn-primary">Administrer</a>
                        </div>
                    </div>

                    <div class="card my-2 d-flex align-items-center">
                        <img class="icon card-img-top pt-3" src="{{ asset('build/images/calendar.png') }}" alt="Logo administrateur">
                        <div class="card-body">
                            <h2 class="titreH2">Calendrier</h2>
                            <a href="{{ path("calendar_list") }}" class="btn btn-primary">Administrer</a>
                        </div>
                    </div>

                    <div class="card my-2 d-flex align-items-center">
                        <img class="icon card-img-top pt-3" src="{{ asset('build/images/cvg.png') }}" alt="Logo administrateur">
                        <div class="card-body">
                            <h2 class="titreH2">CGV</h2>
{#                            <a href="{{ path("cgv_admin") }}" class="btn btn-primary">Administrer</a>#}
                        </div>
                    </div>

                    <div class="card my-2 d-flex align-items-center">
                        <img class="icon card-img-top pt-3" src="{{ asset('build/images/mentionsLegales.png') }}" alt="Logo administrateur">
                        <div class="card-body">
                            <h2 class="titreH2">Mentions légales</h2>
                            <a href="{{ path("regulation_admin") }}" class="btn btn-primary">Administrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}
