{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="container">
    {{ form_start(form) }}
    {{ form_row(form.pictureFile) }}
    {{ form_row(form.description) }}
    <div class="text-center">
        <button class="btn btn-primary btn m-3">{{ button_label|default('Sauvegarder') }}</button>
    </div>
    {{ form_end(form) }}
</div>
