{% extends 'layout_admin.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('adminWalking') }}
{% endblock %}
{% block body %}
    <section class="admin-walking">
        <h1 class="adminTitle text-center">Marche nordique</h1>
            <div class="container">
                <a class="btn btn-success btn mb-2" href="{{ path('walking_new') }}">Nouvelle rubrique</a>
                <table class="table text-dark text-center">
                    <thead class="thead-light text-center">
                        <tr class="text-center">
                            <th>Images</th>
                            <th>Texte marche nordique</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for walking in walkings %}
                    <tr>
                        <td><img class="idImage" src="{{ asset('uploads/walking/' ~ walking.picture) }}" alt="{{ walking.picture }}"></td>
                        <td>{{ walking.description }}</td>
                        <td>
                            <a class="col btn btn-primary mb-2" href="{{ path('walking_edit', { id: walking.id }) }}">Modifier</a>
                            {{ include('admin/walking/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                <tr>
                    <td class="text-danger" colspan="8">Aucun résultat trouvé</td>
                </tr>
                    </tbody>
                {% endfor %}
                </table>
            </div>
            <div class="text-center">
                <a class="btn btn-secondary btn mb-4" href="{{ path('admin_index') }}">Retour</a>
            </div>
    </section>
{% endblock %}
