{% extends 'layout_admin.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('indexAdmin') }}
    {% endblock %}
{% block title %}Administration|Commentaire{% endblock %}

{% block body %}
    <h1 class="title text-center mt-4">Administration commentaire</h1>
        <div class="container">
            <a class="btn btn-success btn mb-2" href="{{ path('opinion_new') }}">Ajouter un commentaire</a>

            <table class="table text-dark text-center">
                <thead class="thead-light">
                    <tr>
                        <th>Auteur</th>
                        <th>Page</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for opinion in opinions %}
                    <tr>
                        <td>{{ opinion.author }}</td>
                        <td>{{ opinion.page }}</td>
                        <td>
                            <a class="col btn btn-primary mb-sm-2 mb-2 btn" href="{{ path('opinion_edit', {'id': opinion.id}) }}">Modifier</a>
                            {{ include('admin/opinion/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-danger" colspan="8">Aucun résultat trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    <div class="text-center">
        <a class="btn btn-secondary btn mb-4" href="{{ path('admin_index') }}">Retour</a>
    </div>
{% endblock %}
