{% extends 'layout.html.twig' %}
{% block title %}Marche nordique{% endblock %}
{% block body %}
    <h1 class="text-center">La marche nordique</h1>
        <div class="container-fluid">
            {% for walk in walkings %}
                <div class="row justify-content-center">
                    <div class="paragraph col-8 py-2">{{ walk.description| raw }}</div>
                </div>
            {% endfor %}
        </div>

        <div class="bg-dark container-fluid text-center py-5">
            <div class="row justify-content-center">
                {% for walk in walkings %}
                {% if walk.picture is not empty %}
                    <a href="{{ asset('/uploads/walking/' ~ walk.picture) }}" target="_blank"><img class=" walkingPicture col-10 m-4 p-0" src="{{ asset('/uploads/walking/' ~ walk.picture) }}"
                     alt="Images marche nordique"></a>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="container text-center py-5">
            <p>Si vous-êtes intéressé, il vous suffit de remplir un formulaire en ligne, simple et rapide !</p>
            <a class="btn btn-primary btn" href="{{ path('contact_show') }}">Envoyer un e-mail</a>
        </div>

    <section id="carousel-opinion" class="carouselOpinion carousel slide pb-0" data-ride="carousel">
        <h2 class="text-center p-5">Les avis</h2>
        <div class="carousel-inner">
            {% for opinion in opinions %}
                <div class="carousel-item  {% if loop.index0 == 0 %} active {% endif %}">
                    <div class="container">
                        <p class="mb-4">{{ opinion.comment }}</p>
                        <p class="opinionAuthor lead">{{ opinion.author }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carousel-opinion" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précèdent</span>
        </a>
        <a class="carousel-control-next" href="#carousel-opinion" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </section>
{% endblock %}
