{% extends 'layout_admin.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('indexAdmin') }}
    {% endblock %}
{% block title %}Administration|CGV{% endblock %}

{% block body %}
    <h1 class="title text-center mt-4">Conditions générales de vente</h1>
        <div class="container">
            <a class="btn btn-success btn mb-2" href="{{ path('cgv_new') }}">Ajouter un document</a>
            <table class="table text-dark">
                <thead class="thead-light text-center">
                    <tr>
                        <th>Document</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for cgv in cgvs %}
                    <tr>
                        <td>{{ cgv.textCgv }}</td>
                        <td>
                            <a class="col btn btn-primary mb-sm-2 mb-2 btn"
                               href="{{ path('cgv_edit', {'id': cgv.id}) }}">Modifier</a>
                            {{ include('admin/cgv/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-danger" colspan="8">Aucun résultat trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                <a class="btn btn-secondary btn mb-4" href="{{ path('admin_index') }}">Retour</a>
            </div>
        </div>
{% endblock %}
