{% extends 'layout_admin.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('indexAdmin') }}
    {% endblock %}
{% block title %}Index Activité adaptée {% endblock %}

{% block body %}
    <h1 class="title text-center mt-4">Index activité adaptée</h1>
    <div class="container">
        <a class="btn btn-success btn mb-2" href="{{ path('activity_new') }}">Ajouter un texte</a>
        <table class="table text-dark">
            <thead class="thead-light text-center">
                <tr>
                    <th>Texte partie activité adaptée</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.description }}</td>
                <td>
                    <a class="btn btn-primary mb-sm-2 mb-2 btn"
                       href="{{ path('activity_edit', {'id': activity.id}) }}">Modifier</a>
                    {{ include('admin/activity/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}

            <tr>
                <td colspan="3">Il n'y a aucun résultat</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
            <div class="text-center">
                <a class="btn btn-secondary btn mb-4" href="{{ path('admin_index') }}">Retour</a>
            </div>
        </div>
{% endblock %}
