{% block stylesheets %}
    {{ encore_entry_link_tags('barNav') }}
{% endblock %}

{% block navBar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
    <div class="container-fluid ">
        <a class="navbar-brand img d-none d-lg-block " href="{{ path('admin_index') }}"><img class="logo mr-2"
                                                                     src="{{ asset('build/images/LOGO-Blanc.png') }}"
                                                                     alt="Logo"/>Administration</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end " id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown mx-3">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button"
                               data-toggle="dropdown" aria-expanded="false">
                                Les services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Activité adaptée</a></li>
                                <li><a class="dropdown-item" href="{{ path('fitness_admin') }}">Remise en forme</a></li>
                                <li><a class="dropdown-item" href="{{ path('walking_admin') }}">Marche nordique</a></li>
                                <li><a class="dropdown-item" href="{{ path('company_admin') }}">Santé en entreprise</a></li>
                            </ul>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light" href="{{ path('gym_admin') }}">La salle d’entrainement</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light" href="{{ ('presentation_admin') }}">Qui suis-je ?</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light" href="{{ path('tarif_index') }}">Tarifs</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light" href="{{ path('media_admin') }}">Média</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light" href="{{ path ('carousel_index') }}">Carrousel</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light" href="{{ path ('opinion_index') }}">Commentaires clients</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light" href="{{ ('customer_index') }}">Comptes clients</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-light" href="{{ path('home') }}">Page d'accueil</a>
                        </li>
                     </ul>
              </div>
    </div>
</nav>
{% endblock %}
