{% extends 'base.html.twig' %}

{% block title %}Fitness{% endblock %}

{% block body %}
    <h1>Fitness</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fitness.id }}</td>
            </tr>
            <tr>
                <th>Fitness_Text</th>
                <td>{{ fitness.fitnessText }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fitnessAdmin') }}">back to list</a>

    <a href="{{ path('fitness_edit', {'id': fitness.id}) }}">edit</a>

    {{ include('fitness/_delete_form.html.twig') }}
{% endblock %}
