{% extends 'layout.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('who') }}
    {% endblock %}
{% block carousel %}{% endblock %}
{% block title %}Qui suis-je ?{% endblock %}

{% block body %}
    <section class="mb-4">
        <h1 class="who-title text-center text-dark mt-5">Damien Gouveia : Coach sportif Orléans</h1>
            <div class="container-fluid">
                <div class="row justify-content-around">
                    {% for presentation in presentations %}
                    <div class="col-lg-4 col-sm-2 d-flex align-self-center justify-content-center">
                        <img class="portrait mt-4"
                             src="{{ asset('uploads/presentation/' ~  presentation.path) }}"
                             alt="{{ presentation.path }}"
                             title="Damien Gouveia">
                    </div>
                    <div class=" justify-content-center justify-content-center
                            col-lg-8 col-sm-6 d-flex align-items-center lead flex-column">
                        <div>
                            <h2>Ma philosophie de travail : </h2>
                                <p>{{ presentation.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
    </section>

    <section id="carousel-opinion" class="carousel slide pb-0" data-ride="carousel">
        <h2 class="text-center p-5">Témoignages</h2>
        <div class="carousel-inner">
            {% for opinion in opinions %}
                <div class="carousel-item  {% if loop.first %} active {% endif %}">
                    <div class="container">
                        <p class="mb-4">{{ opinion.comment }}</p>
                        <p class="opinionAuthor lead">{{ opinion.author }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carousel-opinion" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précèdent</span>
        </a>
        <a class="carousel-control-next" href="#carousel-opinion" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </section>
{% endblock %}
