{% extends 'base.html.twig' %}

{% block title %}Comptes clients{% endblock %}

{% block body %}
    <h1>Comptes clients</h1>
    <section class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr>
                    <th scope="row">{{ customer.id }}</th>
                    <td>{{ customer.lastname }}</td>
                    <td>{{ customer.firstname }}</td>
                    <td>{{ customer.age }}</td>
                    <td>{{ customer.email }}</td>
                    <td><a class="btn btn-secondary" href="{{ path('profile_user', {id: customer.id}) }}">Afficher</a></td>
                </tr>
            {% else %}
                <tr>
                    <td>Aucun compte à afficher</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row justify-content-center mt-3">
            <a class="btn btn-secondary" href="{{ path('admin_index') }}">Retour à la page d'accueil</a>
        </div>

    </section>
{% endblock %}
