{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ user.age }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ user.size }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ user.weight }}</td>
            </tr>
            <tr>
                <th>FatMass</th>
                <td>{{ user.fatMass }}</td>
            </tr>
            <tr>
                <th>BodyWater</th>
                <td>{{ user.bodyWater }}</td>
            </tr>
            <tr>
                <th>MuscleMass</th>
                <td>{{ user.muscleMass }}</td>
            </tr>
            <tr>
                <th>ArmCircumference</th>
                <td>{{ user.armCircumference }}</td>
            </tr>
            <tr>
                <th>WaistSize</th>
                <td>{{ user.waistSize }}</td>
            </tr>
            <tr>
                <th>ThighCircumference</th>
                <td>{{ user.thighCircumference }}</td>
            </tr>
            <tr>
                <th>RuffierDickstonTest</th>
                <td>{{ user.ruffierDickstonTest }}</td>
            </tr>
            <tr>
                <th>Three</th>
                <td>{{ user.three }}</td>
            </tr>
            <tr>
                <th>Pathology</th>
                <td>{{ user.pathology }}</td>
            </tr>
            <tr>
                <th>Treatment</th>
                <td>{{ user.treatment }}</td>
            </tr>
            <tr>
                <th>Prescription</th>
                <td>{{ user.prescription }}</td>
            </tr>
            <tr>
                <th>Imc</th>
                <td>{{ user.imc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
